/* Other CSS styles... */

/* Specific styles for the "Our Team" section */
#team {
  text-align: center; /* Centers text within the section */
  margin: auto; /* Ensures the section itself is centered within its parent, if applicable */
  display: flex;
  flex-direction: column; /* Aligns children of the section in a vertical column */
  justify-content: center; /* Centers the content vertically in the container */
  align-items: center; /* Centers the content horizontally in the container */
  /* No fixed height provided; adjust based on your layout needs */
}

#team h2 {
  margin-bottom: 20px; /* Adds bottom margin for spacing below the heading */
}

/* Continuing with your existing dark mode theme adjustments */
.wrapper {
  border: 5px dotted black;
}

.example1, .example2, .example3 {
  margin: 50px 0; /* Unified margin for simplicity, adjust as needed */
}

body {
  font: 1.4em/1.3 "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  margin: 5em 6em; /* Increased white space around the content */
  background-color: #121212;
  color: #E4E6E7;
}

.box, .container, section {
  background-color: rgb(55,55,110);
  color: white;
  padding: 28px; /* Padding increased by 40% */
  border-radius: .5em;
}

header h1, h2, h3 {
  color: #4169E1; /* Adjusted to royal blue */
}

a {
  color: #80cbc4;
}

nav {
  background: #121212;
}

footer {
  background-color: #121212;
}

@media screen and (max-width: 768px) {
  .container, nav {
      padding: 14px; /* Adjusted padding */
  }

  body {
      margin: 3em 4em; /* Adjusted margins for consistency */
  }

  header h1 {
      font-size: 20px;
  }
}

.btn {
  color: white;
  background-color: #4169E1;
  margin: 0.5em;
  height: 2em;
  width: 2em;
  padding: 0.5em;
  border: 0.5 solid black;
  text-decoration: none;
}

a:hover {
  background-color: #b927fd;
}


