body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    background: linear-gradient(to right, hsl(269, 85%, 43%) 0%, #2575fc 100%);
}

#login {
    background-color: #ffffff; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.05);
    width: 340px;
    margin-top: 50px;
}

input {
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    width: calc(100% - 30px);
    margin-bottom: 20px;
}

button {
    background-color: #5c67f2; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
} 

button:hover {
    background-color: #4348d1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

