body,
html {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 50%;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    
}

.chart-label {
    text-align: center; /* Center the text horizontally */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view {
    display: none;
}

.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav {
    background-color: #007bff; /* Background color */
    width: 100%; /* Fill the entire width of the screen */
    display: flex;
    justify-content: space-around; /* Align buttons evenly */
    padding: 10px 0
}

nav button {
    color: white; /* Text color */
    background-color: #007bff; /* Button background color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; 
}

nav button:hover {
    background-color: #f2f2f2;
    color: #007bff;
}

#views {
    padding: 20px;
    text-align: left;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.view {
    display: none;
    flex: 1;
}

@keyframes wiggle {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}

#profilecard {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        text-align: center;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover,
    a:hover {
        opacity: 0.7;
    }
}

#app {
    .tracker {
        font-size: 14px;
        border-collapse: collapse;
        width: 600px;
    }

    .tracker,
    .tracker * {
        font-family: sans-serif;
    }

    .tracker th {
        font-size: 1.15em;
        text-align: left;
        font-weight: normal;
        color: #ffffff;
        background: #007bff;
    }

    .tracker th,
    .tracker td {
        padding: 0.75em;
    }

    .tracker__entries .tracker__row {
        background: #eeeeee;
    }

    .tracker__entries .tracker__row:nth-child(odd) {
        background: #dddddd;
    }

    .tracker__date,
    .tracker__workout,
    .tracker__duration {
        display: inline-block;
        box-sizing: border-box;
        font-size: 1em;
        height: 2.5em;
        padding: 0.5em 0;
        border: none;
        outline: none;
        background: none;
    }

    .tracker__duration {
        width: 5em;
        text-align: right;
    }

    .tracker__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        border-radius: 50%;
        outline: none;
        color: red;
        font-size: 1.5em;
        margin-left: 0.5em;
        cursor: pointer;
    }

    .tracker__button:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    .tracker__row--add {
        border-top: 3px solid #333333;
        border-bottom: 3px solid #333333;
        background: #ffffff;
    }

    .tracker__row--add td {
        text-align: right;
    }

    .tracker__add {
        display: inline-block;
        padding: 0.8em 1em;
        color: green;
        cursor: pointer;
    }

    .tracker__add:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}
.workout-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .workout-table th,
  .workout-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .workout-table th {
    background-color: #f2f2f2;
  }
  
  .workout-table tr:hover {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 6px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .workout-table {
    width: 100%;
    border-collapse: collapse;
  }
  .exercise-table {
    width: 100%; /* Fill the entire width */
    border-collapse: collapse; /* Collapse borders */
  }
  
  .exercise-table th,
  .exercise-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .exercise-table th {
    background-color: #f2f2f2;
  }
  
  .exercise-table tr:hover {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 6px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .createExerciseContainer {
    display: flex;
    flex-direction: column;
}
.createExerciseContainer label, 
.createExerciseContainer input {
    margin-bottom: 10px; 
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 5px;
}

.calendar-day {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.calendar-day.empty {
    background: #eaeaea;
}

.calendar-day.selected {
    background-color: #4CAF50; 
}

.calendar-header {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
